$about-radius: 20px;
#about {
  position: relative;
  border-bottom-left-radius: $about-radius;
  border-bottom-right-radius: $about-radius;
  .about-content {
    width: 50vw;
    @include absolute-center;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}
