$about-radius: 20px;
#about {
  position: relative;
  border-bottom-left-radius: $about-radius;
  border-bottom-right-radius: $about-radius;
  .about-content {
    width: 50vw;
    @include absolute-center;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    line-height: $default-line-height;
    margin-bottom: 1rem;
    font-size: $default-text-size;

    span {
      @include link-styles;
    }
  }
}

// Tablet Media Query
@media screen and (max-width: 770px) {
  #about {
    width: 100%;
    height: 100%;
    .about-content {
      width: 95%;
    }
  }
}
