#contact {
  padding: 1.5rem;
  background: lighten($black, 30%);
  position: relative;
  h2 {
    color: white;
  }
  form {
    width: 80% !important;
    margin: 1rem auto;
    // @include center-content;
    // flex-direction: column;
    display: grid;
    grid-template-areas:
      'name message'
      'email message'
      'subject message'
      'send send';
    grid-gap: 1rem;
    input,
    textarea {
      width: 100%;
      outline: none;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
    }
    button {
      width: 100%;
      height: 50px;
      font-size: 1.2rem;
      border-radius: 5px;
      outline: none;
      border: none;
      background: $accent;
      color: white;
      font-weight: bold;
      grid-area: send;
      &:disabled {
        filter: grayscale(75%);
      }
    }
    #name {
      grid-area: name;
    }
    #email {
      grid-area: email;
    }
    #subject {
      grid-area: subject;
    }
    #message {
      grid-area: message;
    }
  }
}

@media (max-width: 1000px) {
  #contact {
    form {
      @include center-content;
      flex-direction: column;
      width: 95%;
    }
  }
}
