#contact {
  padding: 10rem 1rem 2rem;
  background: lighten($black, 10%);
  position: relative;
  .custom-shape-divider-top-1593742952 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 150px;
    }
    .shape-fill {
      fill: #ffffff;
    }
  }
  h2 {
    color: white;
  }
  form {
    width: 80%;
    margin: 1rem auto;
    @include center-content;
    flex-direction: column;
    input,
    textarea {
      width: 100%;
      outline: none;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    button {
      width: 100%;
      height: 50px;
      font-size: 1.2rem;
      border-radius: 5px;
      outline: none;
      border: none;
      background: $accent;
      color: white;
      font-weight: bold;
    }
  }
}

@media (min-width: 1000px) {
  #contact {
    form {
      width: 50%;
    }
  }
}
