#contact {
  padding: 2rem 1rem;
  background: lighten($black, 10%);
  h2 {
    color: white;
  }
  form {
    width: 80%;
    margin: 1rem auto;
    @include center-content;
    flex-direction: column;
    input,
    textarea {
      width: 100%;
      outline: none;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    button {
      width: 100%;
      height: 50px;
      font-size: 1.2rem;
      border-radius: 5px;
      outline: none;
      border: none;
      background: $accent;
      color: white;
      font-weight: bold;
    }
  }
}

@media (min-width: 1000px) {
  #contact {
    form {
      width: 50%;
    }
  }
}
