#contact {
  padding: 1.5rem;
  position: relative;
  .contact-container {
    @include absolute-center;
    width: 70%;
    height: max-content;
    h2 {
      text-align: center;
    }
    p {
      text-align: left;
      width: 80%;
      margin: 20px auto;
      line-height: $default-line-height;
      font-size: $default-text-size;
    }
    form {
      width: 80%;
      margin: 1rem auto;
      // @include center-content;
      // flex-direction: column;
      display: grid;
      grid-template-areas:
        'name message'
        'email message'
        'subject message'
        'send send';
      grid-gap: 1rem;
      input,
      textarea {
        width: 100%;
        outline: none;
        padding: 0.5rem;
        border: solid 1px $accent;
        border-radius: 5px;
      }
      button {
        width: 45%;
        height: 50px;
        font-size: 1.2rem;
        border-radius: 5px;
        outline: none;
        border: none;
        background: $accent;
        color: white;
        font-weight: bold;
        grid-area: send;
        margin: 25px auto 0;
        &:disabled {
          filter: grayscale(75%);
        }
      }
      #name {
        grid-area: name;
      }
      #email {
        grid-area: email;
      }
      #subject {
        grid-area: subject;
      }
      #message {
        grid-area: message;
      }
    }
  }
  .contact-socials {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      font-size: 2rem;
      li {
        list-style-type: none;
      }
    }
  }
}

// Big Tablet Media Query
@media screen and (max-width: 1030px) {
  #contact .contact-container {
    width: 95%;
  }
}

// Tablet Media Query
@media screen and (max-width: 770px) {
  #contact {
    width: 100%;
    height: 100%;
  }
}

// Phone Media Query
@media screen and (max-width: 426px) {
  #contact {
    padding: 0;
    .contact-container {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #message {
          height: 100px;
        }
      }
      p {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
}
