@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

$primary: #8d909b;
// $accent: #1cfeba;
$accent: #679436;
$black: #41463d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: $black;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

// Mixins
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
