@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

$primary: #8d909b;
$accent: #679436;
$black: #41463d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: $black;
}

body,
html {
  height: 100%;
}

h2 {
  font-size: 3rem;
}

section {
  padding: 2rem !important;
}

// Mixins
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// General Media Queries
@media screen and (max-width: 1000px) {
  h2 {
    font-size: 1.25rem;
    text-align: center;
  }
}
