#hero {
  height: 100%;
  @include center-content;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  .heroText {
    width: 100%;

    h1 {
      font-size: 2.25rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
      span {
        color: $accent;
      }
    }
    .tagline {
      padding: 0 1rem;
      font-size: 1rem;
      word-wrap: wrap;
    }
  }
  #check-it-out {
    @include center-content;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    i {
      &:before {
        font-size: 2rem;
        color: $accent;
      }
    }
  }
  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      width: 70%;
      margin: 30px auto;
    }
  }
}

// Media Query for tablet
@media screen and (min-width: 767px) {
  #hero {
    .illustration {
      img {
        width: 50%;
      }
    }
  }
}

// Media Query for small laptop
@media screen and (min-width: 1024px) {
  #hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .heroText {
      width: 50%;
    }
    .illustration {
      width: 50%;
    }
  }
}
