#hero {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  .video-background {
    height: 110%;
    width: 110%;
    position: relative;
    video {
      height: 100%;
      filter: blur(10px);
    }
  }
  .overlay {
    position: absolute;
    height: 150vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    right: 0;
    top: 0;
  }
  .heroText {
    width: max-content;
    @include absolute-center;
    h1 {
      font-size: 2.25rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
      color: white;
      span {
        color: $accent;
      }
    }
    .tagline {
      padding: 0 1rem;
      font-size: 1rem;
      word-wrap: wrap;
      color: white;
    }
  }
}

// Tablet Media Query
@media screen and (max-width: 770px) {
  #hero {
    width: 100%;
    height: 100%;
  }
}
// Pne Media Query
@media screen and (max-width: 426px) {
  #hero {
    .heroText {
      width: 100%;
      span {
        display: block;
      }
    }
  }
}
