#hero {
  @include center-content;
  padding: 0;
  box-sizing: border-box;
  .heroText {
    width: max-content;
    h1 {
      font-size: 2.25rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
      span {
        color: $accent;
      }
    }
    .tagline {
      padding: 0 1rem;
      font-size: 1rem;
      word-wrap: wrap;
    }
  }
}
