$port-margin: 1rem;

#portfolio {
  padding: 2rem 1rem;
  h2 {
    margin-bottom: $port-margin;
  }
  #projects {
    @include center-content;
    flex-direction: column;
    .card {
      width: 100%;
      padding: 1rem;
      margin: 0 auto;
      margin-bottom: $port-margin;
      h3 {
        text-align: center;
        margin-bottom: $port-margin;
      }
      .image {
        height: 167px;
        width: 300px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        margin-bottom: $port-margin;
        border-radius: 5px;
      }
      .buttons {
        @include center-content;
        margin-bottom: $port-margin;
        a {
          @include center-content;
          height: 30px;
          width: 75px;
          text-decoration: none;
          border-radius: 5px;
        }
        .github {
          margin-right: 20px;
          background: white;
          border: solid 2px $accent;
          color: $accent;
        }
        .live {
          background: $accent;
          color: white;
        }
      }
    }
    .stack {
      ul {
        @include center-content;
        list-style: none;
        li {
          color: #999;
          font-style: italic;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1020px) {
  #portfolio {
    #projects {
      flex-direction: row;
      flex-wrap: wrap;
      .card {
        width: 45%;
      }
    }
  }
}
@media (min-width: 1440px) {
  #portfolio {
    #projects {
      .card {
        width: 23%;
        .stack ul {
          width: 75%;
          margin: 0 auto;
          flex-wrap: wrap;
        }
      }
    }
  }
}
