$port-margin: 1rem;

#portfolio {
  padding: 2rem 0;
  flex-direction: column;
  h2 {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
  }
  #projects {
    width: 100%;
    padding: 0;
    margin: 0;
    .card {

      width: 100% !important;
      padding: 3rem 5rem;
      margin: 0 !important;
      margin-bottom: 2rem;
      display: flex;
      width: 95%;
      &:nth-of-type(even) {
        background: rgba(48, 104, 68, 0.05);
        & > .screenshot {
          order: 5;
        }
      }
      .text-content {
        font-size: $default-text-size;
        h3 {
          text-align: center;
          margin-bottom: $port-margin;
          font-size: 1.4rem;
        }
        .stack span {
          font-style: italic;
        }
        p {
          line-height: $default-line-height;
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }
        a {
          @include link-styles;
        }
      }
      & > div {
        margin-right: 100px;

      @media (max-width:769px) {
        padding: 0;
      }
      width: 100%;
      padding: 1rem;
      margin: 0 auto;
      margin-bottom: $port-margin; 
      h3 {
        text-align: center;
        margin-bottom: $port-margin;

      }
      .image {
        border: solid 1px $accent;
        height: 334px;
        width: 600px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        margin-bottom: $port-margin;
        border-radius: 5px;
      }
      .buttons {
        @include center-content;
        margin-bottom: $port-margin;
        a {
          @include center-content;
          height: 40px;
          width: 200px;
          text-decoration: none;
          border-radius: 5px;
        }
        .github {
          margin-right: 20px;
          background: white;
          border: solid 2px $accent;
          color: $accent;
        }
        .live {
          background: $accent;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .card {
    flex-direction: column;
    & > div {
      margin: 10px 0;
    }
    .screenshot {
      margin: 0 auto;
    }
  }

  #portfolio #projects .card:nth-of-type(even) > .screenshot {
    order: unset;
  }

  #portfolio #projects .card > .screenshot,
  #portfolio #projects .card > .text-content {
    margin: 0 auto;
  }

  #portfolio #projects .card > .text-content {
    margin-top: 15px;
  }
}

// Tablet Media Query
@media screen and (max-width: 770px) {
  #portfolio {
    width: 100%;
    h2 {
      margin: 50px 0 0 0;
      font-size: 2.25rem;
    }
  }
}

// Phone Media Query
@media screen and (max-width: 426px) {
  #portfolio {
    #projects {
      .card {
        width: 100vw;
        padding: 50px 15px;
        .screenshot {
          margin: 0 auto;
          width: 95%;
          .image {
            width: 300px;
            height: 167px;
          }
        }
      }
    }
  }
}
